  :host ::ng-deep .mat-dialog-container {
    width: 90vw; /* Ajusta el ancho del modal */
    max-width: 100vw; /* Máximo ancho del modal */
  }
  
  .header {
    background-color: #d32f2f;
    color: white;
    
    
  }
  
  .mat-elevation-z8 {
    margin-top: 16px;
    overflow: auto;
  }
  
  mat-dialog-content {
    max-height: 400px; /* Limitar la altura para que no desborde el modal */
    overflow: auto;
  }
  
  mat-paginator {
    margin-top: 16px;
  }
  