.mat-elevation-z8 {
    margin: 16px;
    overflow: auto;
}

mat-card {
    margin: 16px;
}

mat-toolbar {
    background-color: #000;
    color: white;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  .search-input {
    width: 300px;
    margin-right: 16px;
  }
  
  mat-toolbar {
    display: flex;
    align-items: center;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .toolbar-logo {
    height: 40px;
    margin-right: 16px;
  }
  
  .lbl-text {
    font-size: 20px;
    font-weight: bold;
    margin-left: 16px;
  }